<div class="content">
  <div class="archive-text-column">

    <h1>Archives</h1>
    
    <p>Archive stores all troop information</p>

    <%if current_user %>
      <% if current_user.admin === true %>
        <div id="new-archive-button"><%= link_to 'New Archive', new_archive_path %></div>
      <% end %>
    <% end %>
  </div>

  <div class="posts-container">
        <% @archives.each do |archive| %>
          <div class="archive-row">
            <div class="archive-column">
              <div class="archive-title"><%= link_to archive.title, archive %></div>
              <div class="archive-description"><%= truncate(archive.description, :length => 35) %></div>
              <div class="archive-writer">Created by <%= link_to archive.writer, root_path %></div>              
            </div>
            <div><%= link_to 'Show', archive, class: 'archive-buttons' %></div>
            <% if current_user && current_user.admin %>
              <div><%= link_to 'Edit', edit_archive_path(archive), class: 'archive-buttons' %></div>
              <div><%= link_to 'Destroy', archive, method: :delete, data: { confirm: 'Are you sure?' }, class:'archive-buttons' %></div>
            <% end %>
          </div>
      <% end %>
  </div>
  <br>
</div>

